    * {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    }
    
    body {
        background-color: #008bff;
        padding-bottom: 50px;
    }
    /*---Header---*/
    
    header h1 {
        padding-top: 20px;
        text-align: center;
        background-color: #FFE300;
    }
    /*---Nav---*/
    
    nav {
        background-color: darkgoldenrod;
    }
    
    nav ul {
        list-style: none;
        padding: 0px 10%;
        margin: 0;
        overflow: hidden;
        background-color: #FFE300;
    }
    
    nav li {
        float: left;
        border-bottom: #FFE300;
        border-bottom-width: 5px;
        border-bottom-style: solid;
    }
    
    nav li a {
        display: block;
        text-align: center;
        font-size: 15pt;
        padding: 20px;
        text-decoration: none;
        color: black;
    }
    
    nav li:hover {
        background-color: #0002;
        border-bottom-color: #DDC500;
    }
    
    nav .active {
        border-bottom: red solid 5px !important;
    }
    
    nav i {
        background-color: #ff3e00;
        padding: 5px 10px;
        border-radius: 50px;
        font-style: normal;
        font-size: 15px;
        margin-bottom: 5px;
    }
    /*---Footer---*/
    
    footer {
        position: fixed;
        bottom: 0px;
        padding: 5px 10px;
        width: calc(100vw - 20px);
        text-align: right;
        background-color: #ffe300;
    }